<h1>Entidades:</h1>
<%= link_to 'Pozos', controller: 'wells' %> <br>
<%= link_to 'Yacimientos', controller: 'fields' %> <br>
<%= link_to 'Ãreas', controller: 'areas' %> <br>
<%= link_to 'Unidades de Negocio', controller: 'business_units' %>
